body {
	background-color: #eee;
	font-family: sans-serif;
	color: black;
}

p.logo {
	margin: 0;
	padding: 0;
	text-align: center;
}

p {
	margin-top: 0.2em;
	margin-bottom: 0.2em;
	padding: 1px;
}

h1 {
	font-size: 1.3em;
}

p {
	background-color: white;
}

.error {
	color: red;
}

.warning {
	color: blue;
}
