BODY { background-color: #EEEEEE; font-family: "Tahoma"; font-size: 12pt; color: #000000}

P { background-color: #FFFFFF; font-family: "Tahoma"; font-size: 12pt; color: #000000;}

P.error { background-color: #FFFFFF; font-family: "Tahoma"; font-size: 12pt; color: red}

P.warning { background-color: #FFFFFF; font-family: "Tahoma"; font-size: 12pt; color: #0000FF}

H1 { background-color: #EEEEEE; font-family: "Tahoma"; font-size: 16pt; font-color: #000000 }

