# Excluded to make the git repo smaller (those are present in SVN)
binaries/system/ActorEditor.exe
binaries/system/AtlasUI.dll
binaries/system/Collada.dll
binaries/system/pyrogenesis.exe
binaries/system/pyrogenesis.pdb

# Build files
*.so
*.so.*
*.a
*.dylib
binaries/system/ActorEditor
binaries/system/ActorEditor_dbg
binaries/system/pyrogenesis
binaries/system/pyrogenesis_dbg
binaries/system/test
binaries/system/test_dbg

build/workspaces/codeblocks/
build/workspaces/gcc/
build/workspaces/xcode3/
build/workspaces/xcode4/
build/workspaces/vc2013
build/workspaces/vc2015
build/premake/premake4/bin/release/premake4
build/premake/premake4/build/gmake.macosx/obj/
build/premake/premake4/build/gmake.unix/obj/
build/premake/premake4/build/gmake.bsd/obj/
build/premake/premake5/bin/release/premake5
build/premake/premake5/build/gmake.macosx/obj/
build/premake/premake5/build/gmake.unix/obj/
build/premake/premake5/build/gmake.bsd/obj/
build/premake/.gccmachine.tmp
build/premake/.gccver.tmp

# Exclude test .cpp files (generated during the build)
test_*.cpp
source/ps/tests/stub_impl_hack.cpp

# Build files (tools)
*.pyc
*.pyo
__pycache__/

# Build files (libs)
*.o
*.lo
*.la
libraries/source/fcollada/src/output/
libraries/source/spidermonkey/.already-built
libraries/source/spidermonkey/include-unix-debug/
libraries/source/spidermonkey/include-unix-release/
libraries/source/spidermonkey/mozjs-38.0.0/
libraries/source/nvtt/src/build/

# Build files (libs) (OS X)
libraries/osx/boost/
libraries/osx/enet/
libraries/osx/gloox/
libraries/osx/gmp/
libraries/osx/gnutls/
libraries/osx/iconv/
libraries/osx/icu/
libraries/osx/libcurl/
libraries/osx/libjpg/
libraries/osx/libogg/
libraries/osx/libpng/
libraries/osx/libsodium/
libraries/osx/libxml2/
libraries/osx/miniupnpc/
libraries/osx/nettle/
libraries/osx/nspr/
libraries/osx/sdl2/
libraries/osx/vorbis/
libraries/osx/wxwidgets/
libraries/osx/zlib/
libraries/source/fcollada/.already-built
libraries/source/nvtt/.already-built

# "long" translation files
long.*.po

# OSX specific data
.DS_Store
