html
{
	font-family: arial;
}
body
{
	padding: 25px;
	padding-top: 0px;
	margin:0px;
}
h1
{
	font-size: 48px;
	text-align: center;
}
h2
{
	margin-left: -25px;
	padding-left: 60px;
	padding-bottom: 3px;
	border-bottom: 2px #F88 solid;
	width: 500px;
	font-size: 30px;
	font-style: italic;
}
h3
{
	border-bottom: 1px #33AAFF solid;
	text-align: center;
	font-size: 25px;
	font-weight: normal;
}
.UnitList
{
	border-collapse: collapse;
	white-space:nowrap;
}

.UnitList th
{
	text-align: center;
	padding: 0px 8px 3px 8px;
	font-weight: normal;
	border-bottom: 1px #DDDDDD solid;
}

.UnitList td
{
	text-align: center;
	white-space:nowrap;
	padding:3px;
}

.ComparisonTable
{
	margin-top: 175px;
	border-collapse: collapse;
	border:1px black;
	font-size: 18px;
	margin-bottom: 40px;
}

.ComparisonTable td
{
	width:20px;
	height: 20px;
	text-align: center;
}

.Separator
{
	min-width:50px;
	border: none;
}

.ComparisonTable th
{
	text-align: right;
	font-weight:normal;
	padding-right:5px;
}
.ComparisonTable .vertical-text th {
	-webkit-transform: rotate(-45deg);
 	-moz-transform: rotate(-45deg);
  	-ms-transform: rotate(-45deg);
  	-o-transform: rotate(-45deg);
  	transform: rotate(-45deg);
  	max-width: 20px;
  	height: 25px;
  	padding-right:0px;
  	font-size: 12px;
}
.desc
{
	font-style: italic;
	font-size: 13px;
	margin-top: -15px;
}
.WorthList th
{
	text-align: right;
	font-weight:normal;
	padding-right:2px;
}
.WorthList td
{
	width: 400px;
	color:white;
}
.WorthList td span
{
	display:inline-block;
}

.AverageComp
{
	border-collapse: collapse;
	font-size: 16px;
	margin-left: auto;
	margin-right: auto;
}
.AverageComp tr
{
	border-bottom: 1px #DDD solid;
	height:28px;
}
.AverageComp th
{
	font-weight: normal
}
.AverageComp td
{
	text-align: center;
	min-width: 150px;
}

.AverageComp .UnitTd
{
	text-align: center;
	width: 150px;
	border: 1px #DDD solid;
	padding: 0px 5px 0px 5px;
}

.CivRosterVariety
{
	margin-top: 10px;
	border-collapse: collapse;
}

.CivRosterVariety th
{
	font-weight: normal;
	width:100px;
	margin-left: 50px;
	font-size: 14px;
}

.CivRosterVariety tr
{
	border-bottom: 1px white solid;
}

.CivRosterVariety td
{
	width: 20px;
	height:20px;
	border-right: 1px solid white;
}
.CivRosterVariety .vertical-text {
	-webkit-transform: rotate(-45deg);
 	-moz-transform: rotate(-45deg);
  	-ms-transform: rotate(-45deg);
  	-o-transform: rotate(-45deg);
  	transform: rotate(-45deg);
  	max-width: 20px;
  	height: 25px;
  	padding-right:0px;
  	font-size: 20px;
}

.TemplateParentComp th
{
	border-right: 1px #CCC solid;
	border-bottom: 1px #CCC solid;
	font-weight: normal;
	font-size: 15px;
	padding:4px;
	margin: 2px;
}
.TemplateParentComp .Sub
{
	padding: 4px;
	font-size: 13px;
}
.TemplateParentComp tr
{
	border-bottom: 1px #F3F3F3 solid;
}

.TemplateParentComp .Label td
{
	text-align: center;
	font-weight: normal;
	min-width: 25px;
	padding: 3px 6px 3px 6px;
}

.TemplateParentComp
{
	border: 2px black solid;
	font-size: 12px;
	border-collapse: collapse;
	text-align: center;
}