<?xml version="1.0" encoding="Windows-1252"?>
<configuration>

    <appSettings>
		<add key="path" value="C:\svn\FeelingSoftware\main\src\FCollada\FColladaTest" />
        <add key="exe" value="FColladaTest.exe" />
		<add key="output" value="errLog.txt" />
    </appSettings>

</configuration>
