.ace_gutter-cell.ace_breakpoint{ 
    border-radius: 20px 0px 0px 20px; 
    box-shadow: 10px 0px 2px 0px maroon inset; 
} 

.datagrid-mask {
	display: none !important;
}
.datagrid-mask-msg {
	display: none !important;
}

body {
	font-family: sans;
}

.breakhighlight{
	background: #ffee00;
	position: absolute;
	z-index: 5;
}