aws_access_key_id: XXXXXXXXXXXXXXXXXXXX
aws_secret_access_key: XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
ec2_metadata_root: http://169.254.169.254/2007-08-29/meta-data/
ebs_volume_id: vol-XXXXXXXX
ebs_device: xvdg
ebs_drive_letter: e
sync: c:\bin\sync.exe
svn_username: autobuild
svn_password: XXXXXXXXX
