aws_access_key_id: XXXXXXXXXXXXXXXXXXXX
aws_secret_access_key: XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
database: manage.db
image_id: ami-XXXXXXXX
instance_type: m1.small
availability_zone: us-east-1c
key_name: XXX
security_group: XXX
